.container-register-0,
.container-register-1,
.container-register-2 {
  background-color: rgb(184, 163, 149);
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.493) 10px 10px 50px;
  position: absolute;
}

.container-register-0 {
  width: 550px;
  height: 500px;
  animation: transition-0 0.2s ease forwards;
}

@keyframes transition-0 {
  100% {
    width: 550px;
    height: 500px;
  }
  0% {
    width: 0px;
    height: 0px;
  }
}

.container-register-1 {
  width: 590px;
  height: 740px;
  animation: transition-1 0.2s ease forwards;
}

@keyframes transition-1 {
  100% {
    width: 590px;
    height: 740px;
  }
  0% {
    width: 550px;
    height: 500px;
  }
}

.container-register-2 {
  width: 500px;
  height: 600px;
  animation: transition-2 0.2s ease forwards;
}

@keyframes transition-2 {
  100% {
    width: 500px;
    height: 600px;
  }
  0% {
    width: 590px;
    height: 740px;
  }
}

.steps-container {
  margin-top: 3vh;
  position: absolute;
  top: 0;
  width: 100%;
}

.stepper {
  margin-top: 20px;
  animation: transition 0.5s ease forwards;
}

.title {
  top: 0;
  position: absolute;
  margin-top: 7vh;
}

.back-button {
  opacity: 0.7;
  margin-top: 10vh;
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.back-button:hover {
  background-color: rgba(0, 0, 0, 0.048);
  border-radius: 20px;
}

.button,
.submit-button {
  margin: 20px;
  width: 150px;
  height: 45px;
  font-size: 15px;
  border-radius: 14px;
  margin-top: 20px;
  background-color: #5d4037;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(93, 64, 55, 0.4);
  font-weight: bold;
}

.button:hover {
  background-color: #412d27;
}