.footer {
  position: sticky;
  bottom: 0; /* cola no fundo */
  left: 0;
  width: 100%;
  height: 4vh;
  background-color: rgb(0, 0, 0);
}

.copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
}
