.container-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5d4037;
  width: 100%;
  height: 7vh;
  margin: 0 auto;
  border-radius: 0 0 1rem 1rem;
}

.hamburger {
  position: absolute;
  left: 10px; /* distância do início do nav */
  margin-top: 40px;
  margin-left: 8px;
  transform: translateY(-50%);
}

.titulo-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.titulo {
  padding-right: 20px;
  font-size: 50px;
  color: aliceblue;
  margin: 0 auto;
}

.link {
  display: flex;
  text-decoration: none; /* remove sublinhado */
  color: #000000; /* cor do link */
  cursor: pointer; /* muda o cursor para mãozinha */
}

.link:active {
  text-decoration: none;
  color: #555555; /* muda cor quando clicado */
}

.pata {
  width: 60px;
  height: 60px;
  margin: 6px;
  transform: skew(-30deg, 30deg);
}
