.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(199, 129, 64, 0.795);
    width: 100%;
    height: 7vh;
    margin: 0 auto;
    border-radius: 0 0 1rem 1rem;
}

/* .hamburger {
    
} */

.titulo {
    margin: 0 auto;
}

.link {
    list-style: none;
}