.container-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.205);
  width: 99%;
  height: 7vh;
  margin: 10px auto;
  border-radius: 1rem
}

.hamburger {
  position: absolute;
  left: 20px; /* distância do início do nav */
  margin-top: 43px;
  margin-left: 8px;
  transform: translateY(-50%);
}

.titulo-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.titulo {
  padding-right: 20px;
  font-size: 50px;
  color: #5d4037;
  margin: 0 auto;
}

.link {
  display: flex;
  text-decoration: none; /* remove sublinhado */
  color: #000000; /* cor do link */
  cursor: pointer; /* muda o cursor para mãozinha */
}

.link:active {
  text-decoration: none;
  color: #555555; /* muda cor quando clicado */
}

.pata {
  width: 50px;
  height: 50px;
  margin: 6px;
  transform: skew(-30deg, 30deg);
}
