.lobby {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.lobby::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.418)),
              url("../../assets/Images/animais.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

.container-lobby {
  background-color: rgb(228, 228, 228);
  width: 22vw;
  height: 36vh;
  border-radius: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.page {
  margin-top: 1vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(116, 80, 26);
  text-align: center;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.301);
  margin: 10px;
}

.description {
  color: rgb(116, 80, 26);
  text-decoration: underline;
  font-size: 17px;
  margin-bottom: 15vh;
}

.pata-icon {
  width: 70px;
  height: 70px;
  margin: 6px;
  transform: skew(-30deg, 30deg);
}

.container-register-login {
  position: fixed;
  margin-top: 10vh;
  align-items: center;
}
