.container-register {
  margin-top: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.next-button {
  bottom: 15px;
  opacity: 0.7;
  position: absolute;
  font-size: 25px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.next-button:hover {
  background-color: rgba(0, 0, 0, 0.096);
  border-radius: 20px;
}

.field {
  width: 500px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  margin-top: 20px;
  text-align: center;
  color: black;
  box-shadow: 0 4px 8px rgba(93, 64, 55, 0.4);
  background: #d3d3d3; /* Um bege/marrom muito claro para o fundo */
  border: none;
}

.field:focus {
  outline: none;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.image-view {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin-top: 50px;
  background-color: #5d4037;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(93, 64, 55, 0.4);
  font-weight: bold;
}