.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 10vh;
  animation: render 0.5s ease-in-out;
}

.animal-card {
  transform: translateY(10px);
  transform: translateX(20px);
  transition: 0.4s ease;
  opacity: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.048);
}

.cardsContainerShow {
  opacity: 1;
  transform: translateY(0);
  transform: translateX(0);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

@keyframes render {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

.navbar {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  height: 70px;
  width: 33vw;
  margin-top: 13px;
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.search {
  margin-left: 40px;
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
  width: 400px;
  height: 27px;
  border-radius: 10px;
  border: 1px solid #5d4037;
}
.search:focus {
  transition: all 0.2s ease-in-out;
  outline: none;
}

.select-species {
  border: 1px solid #5d4037;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: #9b9b9b;
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
.select-species:focus {
  transition: all 0.2s ease-in-out;
  outline: none;
}

.select-disponible {
  border: 1px solid #5d4037;
  margin-top: 20px;
  font-size: 15px;
  color: #9b9b9b;
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
.select-disponible:focus {
  transition: all 0.2s ease-in-out;
  outline: none;
}

.age-container {
  display: flex;
  flex-direction: row;
}

.age {
  margin-left: 1vw;
}

.modal {
  background-color: rgb(184, 163, 149);
  border-radius: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
  position: absolute;
  width: 450px; /* Adjusted width */
  padding: 1.5rem;
  font-family: "Inter", sans-serif;
  color: #333;
}

.preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  align-self: center;
}

.modalHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a202c;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.label {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.value {
  font-size: 1rem;
  font-weight: 500;
  color: #2d3748;
  margin: 0;
}

.confirmButton {
  margin: auto;
  width: 150px;
  height: 45px;
  font-size: 15px;
  border-radius: 14px;
  background-color: #5d4037;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(93, 64, 55, 0.4);
  font-weight: bold;
  transition: background-color 0.2s;
  display: block;
}

.confirmButton:hover {
  background-color: #926456;
}

.adopt-button {
  color: #ffffff;
  transition: 0.3s all;
  width: 5vw;
  height: 3vh;
  background-color: #5d4037;
  border-radius: 10px;
  border: 1px solid #5d4037;
  font-weight: 600;
  cursor: pointer;
  margin: auto;
}

.adopt-button:hover {
  background-color: #30201c;
  border: 1px solid #5d4037;
  cursor: pointer;
}
