.container-login {
  background-color: rgb(184, 163, 149);
  width: 500px;
  height: 500px;
  padding: 40px;
  border-radius: 30px;
  position: absolute;  /* posição absoluta */
  top: 50%;            /* empurra pro meio */
  left: 50%;
  transform: translate(-50%, -50%);  /* ajusta o centro real */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.493) 10px 10px 50px;
}

.container-login:focus {
    outline: none;
}

.titulo {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #5d4037;
}

.field {
  width: 500px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  margin-top: 20px;
  text-align: center;
  color: black;
  box-shadow: 0 4px 8px rgba(93, 64, 55, 0.4);
  background: #d3d3d3; /* Um bege/marrom muito claro para o fundo */
  border: none;
}

.field:focus {
  outline: none;
}

.button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin-top: 50px;
  background-color: #5d4037;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(93, 64, 55, 0.4);
  font-weight: bold;
}