.container-login {
  background-color: #e0e0e0;
  width: 20vw;
  height: 45vh;
  padding: 40px;
  border-radius: 30px;
  position: absolute;  /* posição absoluta */
  top: 50%;            /* empurra pro meio */
  left: 50%;
  transform: translate(-50%, -50%);  /* ajusta o centro real */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.493) 10px 10px 50px;
}

.container-login:focus {
    outline: none;
}

.titulo {
    text-align: center;
    transition: 0.5s;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #5d4037;
}

.titulo:hover {
  box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.062);
}

.label {
  margin-bottom: 0;
}

.field {
  width: 21vw;
  height: 45px;
  border-radius: 10px;
  display: flex;
  margin-top: 0;
  text-align: center;
  color: black;
  box-shadow: 0 2px 8px rgba(93, 64, 55, 0.4);
  background: #d3d3d3; /* Um bege/marrom muito claro para o fundo */
  border: none;
}

.field:focus {
  outline: none;
}

.button {
  margin: 20px;
  width: 150px;
  height: 45px;
  font-size: 15px;
  border-radius: 14px;
  background-color: #5d4037;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(93, 64, 55, 0.4);
  font-weight: bold;
  transition: 0.5s;
  margin-top: 40px;
  margin-bottom: 0;
}

.button:hover {
  background-color: #30201c;
}


.button:hover {
    background-color: #412d27;
  }